html
  head
    title Redirect Page
    script(src="/redirect.js")

  body
    h1 Welcome to the Redirect Page

    button#redirectButton(data-redirect-uri=redirectUri data-code=code data-state=state) Click me to consent